.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, dodgerblue, darkslateblue);
    width: calc(100vw - 12rem);
    height: 100vh;
    color: whitesmoke;
    overflow-y: auto;
}
.pageTitle{
    /* width: 100%; */
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
    font-size: 2rem;
}
.contentDescription{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1.2rem;
    text-indent: 1rem;
    text-align: justify;
    align-items: center;
}
.profilePhoto{
    float: left;
    margin: 5px;
    width: 10rem;
    border-radius: 50%;
    background: linear-gradient(45deg, dodgerblue, darkslateblue);
}
.itemSubtitle{
    font-weight: bold;
    text-indent: 0;
    text-align: center;
}
.pageSubtitle{
    font-weight: bold;
    margin: 1rem 0;
}
.descriptionItem{
    width: 100%;
    align-items: flex-start;
    background: linear-gradient(-45deg, dodgerblue, darkslateblue);
    padding: 1rem;
    border-radius: 2rem;
    margin:.5rem
}
.descriptionImg{
    float: right;
    width: calc(5rem + 3vw);
    border-radius: .5rem;
    background: linear-gradient(45deg, dodgerblue, darkslateblue);
    margin: .5rem
}
.descriptionRow{
    display:flex;
}

.extras{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.factory{
    background-image: url('../../assets/images/industry.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.descriptionItemText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.school{
    background-image: url('../../assets/images/School.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
@media(max-width:768px){
    .contentContainer{
        width: 100%;
        height: calc(100vh - 7.5rem);
    }
    .pageTitle{
        font-size: 1.5rem;
        margin:.5rem;
        margin-bottom: 0;
    }
    .contentDescription{
        width: 100%;
        justify-content: space-evenly;
    }
    .descriptionItem{
        flex-wrap: wrap;
        justify-content: center;
        width: calc(100% - 1rem);
        margin: .2rem;
        font-size: .8rem;
        padding: .5rem
    }
    .itemSubtitle{
        font-size: .9rem;
    }
    .pageSubtitle{
        margin: .5rem 0;
        text-align: center;
    }
    .profilePhoto{
        width: 25%;
    }
    .descriptionImg{
        display:none
    }
    .descriptionRow{
        flex-direction: column;
    }
}