.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, dodgerblue, darkslateblue);
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    overflow-y: scroll;
}
.contentTitle{
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.contentDescription{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    font-size: 1.2rem;
    text-indent: 1rem;
    text-align: justify;
}
.profilePhoto{
    margin: 5px;
    width: 10rem;
    border-radius: 50%;
    background: linear-gradient(45deg, dodgerblue, darkslateblue);
}
.descriptionItem{
    display:flex;
    align-items: flex-start;
    margin: 1rem;
}
.descriptionImg{
    width: 10rem;
    border-radius: 50%;
    background: linear-gradient(45deg, silver, whitesmoke);
}
.descriptionRow{
    display:flex;
}

.descriptionImg{
    margin: 10px
}
.extras{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.factory{
    background-image: url('../../assets/images/industry.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.school{
    background-image: url('../../assets/images/School.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
@media(max-width:900px){
    .descriptionItem{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }
    .descriptionImg{
        display:none
    }
}