.bodyProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80%;
    margin: auto;
}
.content{
    margin: 15px 0px;
    display:grid;
    grid-template-columns: repeat(
        2, 2fr
    );
}
.eachProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.projectButton{
    width: 30vw;
    height: 200px;
    border-radius: 10px;
    background-size: 30vW;

    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
.projectButton:active {
    border: 2px solid grey;

    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
.todo{
    background-image: url('../../Todo.png');
}