.contactText{
    width: 80%;
}
.contactOptions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contactProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
    width: 8rem;
    background: linear-gradient(-45deg, dodgerblue, darkslateblue);
    border-radius: 1rem;
    margin: 1rem;
    padding: .5rem;
    cursor: pointer;
}
.contactProfile:hover{
    box-shadow: 0 0 .5rem white;
}
.contactProfile:active{
    transform: scale(.95) ;
}
.netLogo{
    height: 100%;
    margin-right: .5rem;
}
#chatGif{
    height: 60%;
    width: 70%;
}
@media(max-width:426px){
    .contactProfile{
        width: 7rem;
        margin: .2rem
    }
}
@media(max-width:320px){
    .contactOptions{
        width: 100%;
        justify-content: space-evenly;
    }
    .contactProfile{
        width: fit-content;
        justify-content: center;
        margin: .2rem
    }
    .netLogo{
        margin: .5rem;
    }
    .contactText{
        display: none;
    }
}