.homeBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.name{
    font-size: 10vw;
    font-weight: bolder;
    color:rgb(112, 58, 19);
    padding: 10px 0px 0px 0px;
    font-family:'Courier New', Courier, monospace;
}
.job{
    font-size: 4vw;
    font-weight: bolder;
    color:rgb(68, 53, 42);
    padding: 0px 0px 10px 0px;
    font-family:'Courier New', Courier, monospace;
}
.description{
    align-self: center;
    display: flex;
    max-width: 700px;
    padding: 5px 10px;
    margin-bottom: 20px;
    justify-content: center;
}
.avatarDiv{
    display: flex;
    align-items: flex-start;
    width: 60%;
}
.avatar{
    width: 100%;
    border-radius: 50%;
    object-fit:scale-down;
    border-style: double;
    border-width: 5px;
    border-color: brown;
}
.selfClip1{
    width: 35%;
    float: left;
}

.homeFooter{
    /* position: relative;
    bottom:0px; */
    padding: 10px 5px;
    align-self: center;
    color: darkgoldenrod
}
@media(max-width:550px){
    .homeFooter{
        position: absolute;
        bottom:0;
        font-size: 0.6rem;
    }
}