.navBarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, dodgerblue, darkslateblue);
    height: 100vh;
    width:  12rem;
    font-weight: bold;
    color: whitesmoke;
    box-shadow: 2px  2px  2px black;
}
.navBarTitle{
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0;
}
.navBarButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.navBarLink{
    background: linear-gradient(45deg, darkslateblue, dodgerblue );
    padding: 1rem 0;
    width: 80%;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px black;
    margin: .5rem;
}
.navBarLink:active{
   transform: scale(.95); 
   box-shadow: 0 0 0 black;
}
.activeLink{
    background: blue;
}
@media(max-width:768px){
    .navBarContainer{
        justify-content: space-evenly;
        width: 100vw;
        height: 7.5rem;
    }
    .navBarTitle{
        margin: 0;
        font-size: 7vw;
        font-weight: bolder;
    }
    .navBarButtons{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        /* height: 100%; */
        flex-wrap: wrap;
    }
    .navBarLink{
        margin: 1vw;
        display: flex;
        width: 20%;
        height: calc(1rem + 2vw);
        font-size: 1.2rem;
        min-width: 8rem;
        justify-content: center;
        padding: 0;
        align-items: center;
    }
}