.navBar{
    background-color:lightgoldenrodyellow;
    text-align: center;
    color: black;
}
.barTitle{
    font-weight: bold;
}
.menuBar{
    display:flex;
    width:inherit;
    padding: 10px 10%;
    justify-content: center;
 }
 .navLink{
    padding: 2px;
    width: 100px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
    color:brown;
    font-size: 1.5rem;
 }
 .navLink:hover{
    background-color:darksalmon;
    color: white;
 }
 @media(max-width:430px){
    .navLink{
        font-size: 0.8rem;
        font-weight: bolder;
    }
    h1{
        font-size: 1.4rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
    }
 }